html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

p {
  margin-block-start: 0;
  text-indent: 1rem;
}

#root {
  height: 100%;
}

#main-page {
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

nav {
  display: flex;
  margin: auto 0;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.socials-container {
  display: flex;
  justify-content: space-between;
}
